@using Satrabel.Starter.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; //The menu item will be active for this page.
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">About</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="/"><i class="icon-calendar"></i> &nbsp;Dashboard</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <h2>About</h2>
</div>