@using Satrabel.Starter.Web.Application
@model ModuleDto

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title </h5>
        <h6 class="card-subtitle mb-2 text-muted">OpenContent</h6>
        <p class="card-text">@Model.Content</p>
    </div>
</div>