@using Satrabel.Starter.Web.Application
@model ModuleDto

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Title (Html)</h1>
        
        <p class="lead">@Model.Content</p>
    </div>
</div>