@using Abp.Authorization.Users
@model Satrabel.OpenApp.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.DisableTopBar = true;
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>@L("ResetPassword")</h1>
                <p>
                    @L("ResetPasswordConfirmation") <a asp-action="Login">@L("LogIn")</a>.
                </p>
            </div>
        </div>
    </div>
</div>