@using Satrabel.OpenApp.Web.Startup
@inject Satrabel.OpenApp.Timing.AppTimes AppTimes


@{
    //ViewBag.CurrentPageName = PageNames.Home; //The menu item will be active for this page.
    //var appId = Model;
}
@section styles
{
    <link rel="stylesheet" href="~/Views/dist/vendor.css?v=@(AppTimes.StartupTime.Ticks)"  />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Views/lib/vueforms/vueforms.css?v=@(AppTimes.StartupTime.Ticks)"  />
    </environment>
}

@section scripts
{
    <script src="~/Views/dist/vendor.js?v=@(AppTimes.StartupTime.Ticks)" ></script>
    <script src="~/Views/dist/crud.js?v=@(AppTimes.StartupTime.Ticks)" ></script>
}

<div id='app'>Loading...</div>
