@using Satrabel.OpenApp.Web.Startup
@inject Satrabel.OpenApp.Timing.AppTimes AppTimes
@{
    ViewBag.CurrentPageName = PageNames.Crud; //The menu item will be active for this page.
}

@section styles
{
    <link rel="stylesheet" href="~/Views/lib/vueforms/libs.css?v=@(AppTimes.StartupTime.Ticks)"  />
}

@section scripts
{
    <environment names="Development">
        <script src="~/Views/lib/vueforms/libs.js?v=@(AppTimes.StartupTime.Ticks)"></script>
        <script src="~/Views/lib/vueforms/bundle.js?v=@(AppTimes.StartupTime.Ticks)" ></script>
        <script src="~/Views/Crud/Index.js?v=@(AppTimes.StartupTime.Ticks)" ></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/Views/lib/vueforms/libs.js?v=@(AppTimes.StartupTime.Ticks)"></script>
        <script src="~/Views/lib/vueforms/bundle.js?v=@(AppTimes.StartupTime.Ticks)"></script>
        <script src="~/Views/Crud/Index.js?v=@(AppTimes.StartupTime.Ticks)"></script>
    </environment>
}

<div id='app'>Loading...</div>
